*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family:sans-serif;
}
              /* head Section Start */
.flex-box{
	    display:flex;
}
.head{
	   padding:1rem 2rem;
}
.icon{
	   display:none;
}
.icon-1 a{
	       text-decoration:none;
		   margin-left:0.5rem;
		   font-size:1rem;
		   color:black;
}
.icon-1 iconify-icon{
	                  color:#428bca;
					  padding-left:0.5rem;
					  font-size:1rem;
}
@media(min-width:768px){
	
.flex-box{
	    display:flex;
}
.head{
	   padding:1rem 2rem;
}
.icon{
	   display:block;
	   margin-left:7rem;
	   margin-top:2rem;
}
.icon ul li{
	         display:inline-block;
			 padding-left:1.5rem;
}
.icon ul li a{
	           color:#5c768d;
}
.icon-1 a{
	       text-decoration:none;
		   margin-left:1rem;
		   font-size:1rem;
		   color:black;
}
.icon-1 iconify-icon{
	                  color:#428bca;
					  padding-left:1rem;
					  padding-top:0.5rem;
					  font-size:1.5rem;
}	
}
@media(min-width:1024px){
	
.flex-box{
	    display:flex;
}
.head{
	   padding:0.5rem 4rem;
}
.icon{
	   display:block;
	   margin-left:20rem;
	   margin-top:1.5rem;
}
.icon ul li{
	         display:inline-block;
			 padding-left:1.5rem;
}
.icon ul li a{
	           color:#5c768d;
}
.icon-1 a{
	       text-decoration:none;
		   margin-left:1rem;
		   font-size:1rem;
		   color:black;
}
.icon-1 iconify-icon{
	                  color:#428bca;
					  padding-left:1rem;
					  padding-top:0.5rem;
					  font-size:1.5rem;
}	
}
@media(min-width:1280px){
.icon{
	   display:block;
	   margin-left:44rem;
	   margin-top:1.5rem;
}
.icon ul li{
	         display:inline-block;
			 padding-left:1.5rem;
}
.icon ul li a{
	           color:#5c768d;
}
.icon-1 a{
	       text-decoration:none;
		   margin-left:1rem;
		   font-size:1.2rem;
		   color:black;
}
.icon-1 iconify-icon{
	                  color:#428bca;
					  padding-left:1rem;
					  padding-top:0.5rem;
					  font-size:1.5rem;
}
.icon iconify-icon{
	                font-size:1.2rem;
}
}
            /* Header Section Ends */
			/* Nav Section Starts */
.nav{
	  display:none;
}
.container-2{
	          display:flex;
			  padding:1rem 2rem;
}
.logo h3{
	      font-size:1.5rem;
		  font-weight:400;
		  color:#428BCA;
}
.mobile-view{
	          padding-left:13rem;
}
.mobile-view iconify-icon{
	                       font-size:1.5rem;
			  
}
@media(min-width:768px){
.nav{
	  display:none;
}
.container-2{
	          display:flex;
			  padding:1rem 2rem;
}
.logo h3{
	      font-size:2rem;
		  font-weight:500;
		  color:#428BCA;
}
.mobile-view{
	          padding-left:33rem;
}
.mobile-view iconify-icon{
	                       font-size:2rem;
			  
}
}
@media(min-width:1024px){
.nav{
	  display:block;
	  padding-left:23rem;
}
.nav ul li{
			display:inline-block;
			padding:0.5rem;
}
.nav ul li a{
	        text-decoration:none;
			color:gray;
}
.container-2{
	          display:flex;
			  padding:0.5rem 2rem;
			  
}
.logo{
	   padding-left:3rem;
}
.logo h3{
	      font-size:2rem;
		  color:#428BCA;
}
.mobile-view{
	          display:none;
}
}
@media(min-width:1280px){
.nav{
	  display:block;
	  padding-left:40rem;
}
.nav ul li{
			display:inline-block;
			padding:1rem;
}
.nav ul li a{
	        text-decoration:none;
			font-size:1.2rem;
			color:gray;
}
.container-2{
	          display:flex;
			  padding:0.5rem 2rem;
}
.logo h3{
	      font-size:2.5rem;
		  color:#428BCA;
}
.mobile-view{
	          display:none;
}
}
          /* Nav Section End */
           /* Main Content */
.background{
	        background-image:url("../img/slide/slide-1.jpg");
			width:100%;
			position:relative;
			background-size:cover;
			background-position:center;
}
.background::after{
	               content:"";
				   position:absolute;
				   background-color:#000000;
				   opacity:0.7;
				   top:0;
				   bottom:0;
				   right:0;
				   left:0;
}
.content{
	          padding:5rem 3rem;
			  z-index:1;
			  position:relative;
}
.content h1{
	         font-weight:800;
			 color:white;
			 font-size:2rem;
}
.content p{
			 color:white;
			 padding-top:2rem;
			 line-height:1.5rem;
			 font-size:1rem;
}
.content a{
	        text-decoration:none;
			border:1px solid #007aff;
			border-radius:5px;
			padding:0.5rem 1.5rem;
			color:white;
			background-color:#007aff;
}
.btn{
	  margin-top:2rem;
}
@media(min-width:768px){
.content{
	          padding:15rem 5rem;
			  z-index:1;
			  position:relative;
}
.content h1{
	         font-weight:800;
			 color:white;
			 font-size:3rem;
}
.content p{
			 color:white;
			 padding:2rem 5rem 0rem 0rem;
			 font-size:1.2rem;
}
.content a{
	        text-decoration:none;
			border:1px solid #007aff;
			border-radius:5px;
			padding:0.5rem 1.5rem;
			color:white;
			background-color:#007aff;
}
.btn{
	  margin-top:2rem;
}
}
@media(min-width:1024px){
.content{
	          padding:15rem 10rem;
			  z-index:1;
			  position:relative;
}	
.content h1{
	         font-weight:600;
			 color:white;
			 font-size:3.5rem;
}
.content p{
			 color:white;
			 padding:2rem 13rem 0rem 0rem;
			 line-height:1.6rem;
			 font-size:1.5rem;
}
.content a{
	        text-decoration:none;
			border:1px solid #007aff;
			font-size:1.2rem;
			border-radius:5px;
			padding:0.8rem 3rem;
			color:white;
			background-color:#007aff;
}
}
              /* Main Content End */

			  /* About Section Start */			  
.about{
	    padding-top:5rem;
}
.container-4{
	          width:90%;
			  margin:auto;
			  box-shadow:0px 0px 5px gray;
			  background-color:#FFFFFF;
}	
.flex-item{
	       display:flex;
		   padding-top:3rem;
}
.flex-item .item{
	             padding:0.5rem;
}
.item p{
	      padding-top:0.5rem;
		  font-size:1rem;
}
.image{
		padding-top:1rem;
		margin:1rem;
}	
.image img{
	        width:100%;
}	 
.about-side{
	        width:100%;
			padding:5rem 2rem;
} 
.about-head h2{
	            font-size:2rem;
				text-align:center;
				color:#5C768D;
}
.about-head p{
	          padding-top:1rem;
			  font-size:1.2rem;
			  color:gray;
			  line-height:1.5rem;
}
.item iconify-icon{
	                font-size:2rem;
					border:1px solid #f1f7fb;
					background-color:#f1f7fb;
					color:#007aff;
					padding:1rem;
}
.item h3{
	      font-size:1rem;
		  font-family:roboto;
		  font-weight:bold;
}
.item p{
	     font-size:1.2rem;
		 color:gray;
		 line-height:1.5rem;
}
.flex-item:hover iconify-icon{
	                           background-color:#428BCA;
							   color:#ffffff;
}
@media(min-width:768px){			  
.about{
	    padding-top:5rem;
}
.container-4{
	          width:90%;
			  margin:auto;
			  box-shadow:0px 0px 5px gray;
			  background-color:#FFFFFF;
}	
.flex-item{
	       display:flex;
		   padding-top:3rem;
}
.flex-item .item{
	             padding:0.5rem;
}
.item p{
	      padding-top:0.5rem;
		  font-size:1rem;
}
.image{
		padding-top:1rem;
		margin:1rem;
}	
.image img{
	        width:100%;
}	 
.about-side{
	        width:100%;
			padding:5rem 2rem;
} 
.about-head h2{
	            font-size:2rem;
				text-align:center;
				color:#5C768D;
}
.about-head p{
	          padding-top:1rem;
			  font-size:1.2rem;
			  color:gray;
			  line-height:1.5rem;
}
.item iconify-icon{
	                font-size:2rem;
					border:1px solid #f1f7fb;
					background-color:#f1f7fb;
					color:#007aff;
					padding:1rem;
}
.item h3{
	      font-size:1rem;
		  font-family:roboto;
		  font-weight:bold;
}
.item p{
	     font-size:1.2rem;
		 color:gray;
		 line-height:1.5rem;
}
.flex-item:hover iconify-icon{
	                           background-color:#428BCA;
							   color:#ffffff;
}
}			  
@media(min-width:1024px){			  
.about{
	    padding-top:5rem;
}
.container-4{
	          width:90%;
			  display:flex;
			  margin:auto;
			  box-shadow:0px 0px 5px gray;
			  background-color:#FFFFFF;
}	
.flex-item{
	       display:flex;
		   padding-top:3rem;
}
.flex-item .item{
	             padding:0.5rem;
}
.item p{
	      padding-top:0.5rem;
		  font-size:1rem;
}
.image{
	    width:100%;
		padding-top:1rem;
		margin:1rem;
}	
.image img{
	        width:100%;
}	 
.about-side{
	        width:80%;
			padding:5rem 2rem;
} 
.about-head h2{
	            font-size:2rem;
				text-align:center;
				color:#5C768D;
}
.about-head p{
	          padding-top:1rem;
			  font-size:1rem;
			  color:gray;
			  line-height:1rem;
}
.item iconify-icon{
	                font-size:2rem;
					border:1px solid #f1f7fb;
					background-color:#f1f7fb;
					color:#007aff;
					padding:1rem;
}
.item h3{
	      font-size:1rem;
		  font-family:roboto;
		  font-weight:bold;
}
.item p{
	     font-size:1rem;
}
.flex-item:hover iconify-icon{
	                           background-color:#428BCA;
							   color:#ffffff;
}
}			  
@media(min-width:1280px){			  
.about{
	    padding-top:5rem;
}
.container-4{
	          width:80%;
			  display:flex;
			  margin:auto;
			  box-shadow:0px 0px 5px gray;
			  background-color:#FFFFFF;
}	
.flex-item{
	       display:flex;
		   padding-top:3rem;
}
.flex-item .item{
	             padding:0.5rem;
}
.item p{
	      padding-top:0.5rem;
		  font-size:1rem;
}
.image{
	    width:100%;
		padding-top:1rem;
		margin:1rem;
}	
.image img{
	        width:100%;
}	 
.about-side{
	        width:90%;
			padding:6rem 2rem;
} 
.about-head h2{
	            font-size:2.5rem;
				text-align:center;
				color:#5C768D;
}
.about-head p{
	          padding-top:1rem;
			  font-size:1.3rem;
			  color:gray;
			  line-height:1.5rem;
}
.item iconify-icon{
	                font-size:2rem;
					border:1px solid #f1f7fb;
					background-color:#f1f7fb;
					color:#007aff;
					padding:1.2rem;
}
.item h3{
	      font-size:1.3rem;
		  font-family:roboto;
		  font-weight:bold;
}
.item p{
	     font-size:1.1rem;
}
.flex-item:hover iconify-icon{
	                           background-color:#428BCA;
							   color:#ffffff;
}
}
               /* About Section End */	
              /* Flex Wrap Section Start */

.container-5{
	         width:90%;
			 margin:auto;
			 padding-top:3rem;
}
.wrap-item h5{
	          font-size:1.5rem;
			  padding-bottom:1rem;
			  font-weight:400;
			  color:skyblue;
			  
}
.wrap-item h2{
	          font-size:1.7rem;
			  padding-bottom:1rem;
}
.wrap-item p{
	          font-size:1.1rem;
			  color:gray;
}
.wrap-item{
	        padding:2rem;
}

@media(min-width:768px){
.container-5{
	         width:90%;
			  margin:auto;
			 padding-top:3rem;
}
.flexwrap-container{
	                 display:flex;
					 flex-wrap:wrap;
}
.wrap-item h5{
	          font-size:2rem;
			  padding-bottom:1rem;
			  font-weight:400;
			  color:skyblue;
			  
}
.wrap-item h2{
	          font-size:2rem;
			  padding-bottom:1rem;
}
.wrap-item p{
	          font-size:1.2rem;
			  color:gray;
}
.wrap-item{
	        padding:2rem;
			width:50%;
}
.list-8{
		border-bottom:2px solid #d9e8f4;	
}
.list-9{
		border-right:2px solid #d9e8f4;	
}
}
@media(min-width:1024px){
.container-5{
	         width:95%;
			  margin:auto;
			 padding-top:5rem;
}
.flexwrap-container{
	                 display:flex;
					 flex-wrap:wrap;
}
.wrap-item h5{
	          font-size:2rem;
			  padding-bottom:2rem;
			  font-weight:400;
			  color:skyblue;
			  
}
.wrap-item h2{
	          font-size:2rem;
			  padding-bottom:2rem;
}
.wrap-item p{
	          font-size:1.2rem;
			  color:gray;
}
.wrap-item{
	        padding:4rem;
			width:33.33%;
}
.list-5{
		  border-bottom:2px solid #d9e8f4;	
}
.list-4{
		  border-right:2px solid #d9e8f4;	
}
.list-3{
          border-bottom:2px solid #d9e8f4;
		  border-right:2px solid #d9e8f4;	
}
}
               /* Flexwrap Section Ends */
			   /* Project Section Start */
.project-bg{
	         background-color:#f5f9fc;
			 padding:2rem 0rem;
}	
.container-6{
			  padding:1rem;
}
.project{
	      padding:3rem;
		  border:1px solid #fff;
		  background-color:#fff;
		  margin:1rem;
		  text-align:center;
}
.project h2{
	        font-size:3rem;
			color:#1c5c93;
			font-weight:600;
}
.project p{
	        padding-top:1rem;
}
@media(min-width:768px){
.project-bg{
	         background-color:#f5f9fc;
			 padding:2rem 0rem;
}
.container-6{
	          display:flex;
			  padding:2rem;
			  flex-wrap:wrap;
}	
.project{
	      width:45%;
		  border:1px solid #fff;
		  margin:1rem;
		  background-color:#fff;
		  text-align:center;
}
.project h2{
	        font-size:3rem;
			color:#1c5c93;
			font-weight:600;
}
.project p{
	        padding-top:1rem;
}		
}
@media(min-width:1024px){
.project-bg{
	         background-color:#f5f9fc;
			 padding:2rem 0rem;
}
.container-6{
	          display:flex;
			  padding:2rem;
			  flex-wrap:wrap;
}	
.project{
	      width:23%;
		  border:1px solid #fff;
		  margin:0.5rem;
		  background-color:#fff;
		  text-align:center;
}
.project h2{
	        font-size:3rem;
			color:#1c5c93;
			font-weight:600;
}
.project p{
	        padding-top:1rem;
}		
}
       /* Project Section Ends */
      /* Service Section Starts */

.container-8{
	          padding:3rem orem;
}
.service-head{
	           text-align:center;
			   padding-bottom:2rem;
			   font-size:2rem;
    		   color:gray;
}
.service-item{
              text-align:center;
			  padding:1rem;
			 			  
}
.service-item p{
	              color:gray;
				  font-size:1rem;
			      line-height:1.3rem;
                  
}
.service-item h3{
	             padding:1rem 0rem;
				 position:relative;
				 font-weight:500;
				 font-size:1.2rem;
}
.service-item h3:hover{
	                    color:skyblue;
}	
.service-item h3::after{
	                     content:"";
						 position:absolute;
						 width:10%;
						 background-color:skyblue;
						 display:flex;
						 justify-content:center;
						 margin-left:45%;
						 bottom:5px;
						 height:1px;
}
.service-item iconify-icon{
	                       font-size:2.5rem;
						   height:80px;
						   width:80px;
						   display:flex;
						   justify-content:center;
						   align-items:center;
						   margin:auto;
						   border:1px solid #fff;
						   border-radius:50%;
						   color:skyblue;
						   box-shadow:0 0 15px gray;
}
.service-item iconify-icon:hover{
	                              box-shadow:0 0 20px skyblue;
}	
@media(min-width:768px){
	
.container-8{
	          padding:3rem orem;
}
.service-head{
	           text-align:center;
			   padding:2rem 0rem;
			   font-size:2rem;
    		   color:gray;
}
.service-flex{
	           display:flex;
			   padding:1rem;
			   flex-wrap:wrap;
}
.service-item{
              text-align:center;
			  width:50%;
			  padding:1.3rem;
			 			  
}
.service-item p{
	              color:gray;
				  font-size:1rem;
			      line-height:1.3rem;
                  
}
.service-item h3{
	             padding:1rem 0rem;
				 position:relative;
				 font-weight:500;
				 font-size:1.3rem;
}
.service-item h3:hover{
	                    color:skyblue;
}	
.service-item h3::after{
	                     content:"";
						 position:absolute;
						 width:10%;
						 background-color:skyblue;
						 display:flex;
						 justify-content:center;
						 margin-left:45%;
						 bottom:5px;
						 height:1px;
}
.service-item iconify-icon{
	                       font-size:2.5rem;
						   height:80px;
						   width:80px;
						   display:flex;
						   justify-content:center;
						   align-items:center;
						   margin:auto;
						   border:1px solid #fff;
						   border-radius:50%;
						   color:skyblue;
						   box-shadow:0 0 15px gray;
}
.service-item iconify-icon:hover{
	                              box-shadow:0 0 20px skyblue;
}		
}
@media(min-width:1024px){

.container-8{
	          width:90%;
			  margin:auto;
}	
.service-item{
              text-align:center;
			  width:33.33%;
			  padding:1.3rem;
			 			  
}
.service-item p{
	              color:gray;
				  font-size:1.1rem;
				  padding:1rem;
			      line-height:1.3rem;
                  
}
.service-item h3{
	             padding:1rem 0rem;
				 position:relative;
				 font-weight:500;
				 font-size:1.4rem;
}	
}
              /* service Section End */
             /* portfolio Section Start */
			 
.portfolio{
	        background-color:#f5f9fc;
}	
.port-head{
	        text-align:center;
			padding:1rem;
}
.port-head h2{
	          font-size:2rem;
			  padding-top:1rem;
			  color:gray;
}
.port-head p{
	            font-size:1rem;
			    padding-top:1rem;
			    color:gray;
}		
.nav-bar2 ul li{
	             list-style:none;
				 margin:0.5rem;
				 border:1px solid #fff;
				 font-size:0.8rem;
				 background-color:#fff;
				 padding:0.6rem;
				 display:inline-block;
} 
.nav-bar2{
	        text-align:center;
			padding:2rem 0rem;
}
.active{
		 color:blue;
}
.sub-img img{ 
              width:100%;
			  margin:0.5rem 0rem;
	     
}
.container-9{
	         padding:0rem 1rem;
}
@media(min-width:768px){
	
.portfolio{
	        background-color:#f5f9fc;
}	
.port-head{
	        text-align:center;
			padding:2rem;
}
.port-head h2{
	          font-size:2rem;
			  padding-top:1rem;
			  color:gray;
}
.port-head p{
	            font-size:1.2rem;
			    padding-top:1rem;
			    color:gray;
}		
.nav-bar2 ul li{
	             list-style:none;
				 margin:0.5rem;
				 border:1px solid #fff;
				 font-size:0.8rem;
				 background-color:#fff;
				 padding:0.6rem;
				 display:inline-block;
} 
.nav-bar2{
	        text-align:center;
			padding:2rem 0rem;
}
.active{
		 color:blue;
}
.sub-img img{ 
              width:100%;
			  margin:0.5rem 0rem;	     
}
.sub-img{
	      width:50%;
		  padding:0.5rem;
		
}
.container-9{
	         padding:0rem 2rem;
			 display:flex;
			 flex-wrap:wrap;
}	
	
}
@media(min-width:1024px){
.portfolio{
	        background-color:#f5f9fc;
}	
.port-head{
	        text-align:center;
			padding:2rem;
}
.port-head h2{
	          font-size:2rem;
			  padding-top:1rem;
			  color:gray;
}
.port-head p{
	            font-size:1.2rem;
			    padding-top:1rem;
			    color:gray;
}		
.nav-bar2 ul li{
	             list-style:none;
				 margin:0.5rem;
				 border:1px solid #fff;
				 font-size:1rem;
				 background-color:#fff;
				 padding:1rem;
				 display:inline-block;
} 
.nav-bar2{
	        text-align:center;
			padding:2rem 0rem;
}
.active{
		 color:blue;
}
.sub-img img{ 
              width:100%;
			  margin:0.5rem 0rem;	     
}
.sub-img{
	      width:33.33%;
		  padding:0.5rem;
		
}
.container-9{
	         padding:0rem 8rem;
			 display:flex;
			 flex-wrap:wrap;
}
}
             /* Portfolio Section End*/
             /* Team Section Starts */

.team-head{
	        text-align:center;
			padding:3rem;
}
.team-head h2{
	            font-size:2rem;
				font-weight:550;
}	
.team-head p{
	           font-size:1rem;
			   font-weight:400;
			   color:gray;
			   padding-top:1rem;
}
.container-10{
	          width:95%;
			  margin:auto;
}
.team-1{
         position:relative;
		 z-index:2;
         margin-bottom:6rem;		 
}
.team-1 img{
	         width:100%;
			 border-radius:5px;
}
.detail{
	    position:absolute;
		padding-bottom:0.8rem;
		color:white;
		width:90%;
		text-align:center;
		top:270;
		left:20px;
		opacity:0.9;
		background-color:#5C7387;
}
.detail .gap{
	          padding-top:1.5rem;
}
.detail h3{
	       font-weight:800;
}
.detail h3::after{
	               content:"";
				   width:15%;
				   height:1px;
				   position:relative;
				   background-color:white;
				   display:flex;
				   justify-content:center;
				   margin:auto;
				   top:10px;
}

.detail p{
	       font-family:roboto;
}
.detail ul li{
	           display:inline-block;
			   margin:0.2rem;
}
.detail ul li iconify-icon{
	                        color:white;
							font-size:1.1rem;
}
@media(min-width:768px){
	

.team-head{
	        text-align:center;
			padding:3rem;
}
.team-head h2{
	            font-size:2rem;
				font-weight:550;
}	
.team-head p{
	           font-size:1rem;
			   font-weight:400;
			   color:gray;
			   padding-top:1rem;
}
.container-10{
	          width:90%;
			  margin:auto;
}
.team-flex{
	        display:flex;
			flex-wrap:wrap;
}
.team-1 img{
	         width:100%;
}
.team-1{
	     width:47%;
		 position:relative;
         padding-bottom:8rem;
		 margin:auto;
}
.detail{
	    position:absolute;
		padding-bottom:0.8rem;
		color:white;
		width:90%;
		text-align:center;
		top:270;
		left:20px;
		opacity:0.9;
		background-color:#5C7387;
}
.detail .gap{
	          padding-top:1.5rem;
}
.detail h3{
	       font-weight:1200;
}
.detail h3::after{
	               content:"";
				   width:15%;
				   height:1px;
				   position:relative;
				   background-color:white;
				   display:flex;
				   justify-content:center;
				   margin:auto;
				   top:10px;
}

.detail p{
	       font-family:roboto;
}
.detail ul li{
	           display:inline-block;
			   margin:0.2rem;
}
.detail ul li iconify-icon{
	                        color:white;
							font-size:1.1rem;
}	
}
@media(min-width:1024px){

.team-head{
	        text-align:center;
			padding:3rem;
}
.team-head h2{
	            font-size:2rem;
				font-weight:550;
}	
.team-head p{
	           font-size:1.2rem;
			   font-weight:400;
			   color:gray;
			   padding-top:1rem;
}
.container-10{
	          width:95%;
			  margin:auto;
}
.team-flex{
	        display:flex;
			flex-wrap:wrap;
}
.team-1 img{
	         width:100%;
}
.team-1{
	     width:23%;
		 position:relative;
         padding-bottom:8rem;
		 margin:auto;
}
.detail{
	    position:absolute;
		padding-bottom:0.8rem;
		color:white;
		width:90%;
		text-align:center;
		top:140;
		left:10px;
		opacity:0.9;
		background-color:#5C7387;
}
.detail .gap{
	          padding-top:1.2rem;
}
.detail h3{
	       font-weight:1200;
		   font-size:1.4rem;
}
.detail h3::after{
	               content:"";
				   width:20%;
				   height:1px;
				   position:relative;
				   background-color:white;
				   display:flex;
				   justify-content:center;
				   margin:auto;
				   top:10px;
}

.detail p{
	       font-family:roboto;
		   font-size:0.9rem;
}
.detail ul li{
	           display:inline-block;
			   margin:0.2rem;
}
.detail ul li iconify-icon{
	                        color:white;
							font-size:1.1rem;
}		
}
@media(min-width:1280px){

.detail{
	    position:absolute;
		padding-bottom:0.8rem;
		color:white;
		width:90%;
		text-align:center;
		top:230;
		left:10px;
		opacity:0.9;
		background-color:#5C7387;
}
	
}
         /* team Section End */
		 /* Frequently Ask Section Start */

.ask-sec{
	      background-color:#F5F9FC;
}		
.ask-head h2{
	          font-size:2.5rem;
			  text-align:center;
			  padding:1rem;
			  color:#1f3548;
} 
.ask-head{
	      padding:1rem 0rem;
}
.container-11{
	          width:95%;
			  margin:auto;
}
article h3{
	        color:#1f3548;
			padding-top:2rem;
			font-weight:600;
			font-family:roboto;
			font-size:1.3rem;
}
article p{
	       
			font-family:roboto;
			padding-top:1rem;
			line-height:1.5rem;
			color:#444;
			font-size:1.2rem;
}
@media(min-width:768px){

.ask-sec{
	      background-color:#F5F9FC;
}		
.ask-head h2{
	          font-size:2.5rem;
			  text-align:center;
			  padding:1rem;
			  color:#1f3548;
} 
.ask-head{
	      padding:1rem 0rem;
}
.container-11{
	          width:90%;
			  margin:auto;
}
article{
	     padding:1rem;
}
article h3{
	        color:#1f3548;
			padding-top:2rem;
			font-weight:600;
			font-family:roboto;
			font-size:1.8rem;
}
article p{
	       
			font-family:roboto;
			padding-top:1rem;
			line-height:1.5rem;
			color:#444;
			font-size:1.5rem;
}		
}
@media(min-width:1024px){

.ask-sec{
	      background-color:#F5F9FC;
}		
.ask-head h2{
	          font-size:2.5rem;
			  text-align:center;
			  padding:1rem;
			  color:#1f3548;
} 
.ask-head{
	      padding:1rem 0rem;
}
.container-11{
	          width:90%;
			  margin:auto;
}
.ask-flex{
	       display:flex;
}
article h3{
	        color:#1f3548;
			padding-top:2rem;
			font-weight:600;
			font-family:roboto;
			font-size:1.4rem;
}
article p{
	       
			font-family:roboto;
			padding-top:1rem;
			line-height:1.5rem;
			color:#444;
			font-size:1.3rem;
}		
}	
	 /* Frequently Ask Section End */
	 /* Contact Section Start */
	 
.contact-sec{
	          padding:3rem 0rem;
}	
.contact-head{
	            padding:3rem 0rem;
				color:#1f3548;
				font-weight:600;
				text-align:center;
				font-size:2rem;
}
.container-12{
	           width:90%;
			   margin:auto;
}
.contact-1{
	        text-align:center;
			margin:1rem;
			padding:1rem;
			box-shadow:2px 2px 15px #ccc;
}
.contact-1 h3{
	           color:#444;
			  font-weight:600;
			  padding:1rem 0rem;
			  font-size:1.3rem;
}
.contact-1 p{
	         line-height:1rem;
			 font-size:0.9rem;
			 padding-bottom:1rem;
}
.contact-1 iconify-icon{
	                    height:50px;
						 width:50px;
	                     color:#438BCA;
						 border-radius:50%;
						 padding:1rem 0rem;
						 font-size:2rem;
						 border:2px dotted #438BCA;
						 display:flex;
						 margin:auto;
						 justify-content:center;
						 align-items:center;
}
.form{
	  box-shadow:2px 2px 15px #ccc;
	  width:90%;
	  margin:auto;
	  padding:2rem;
}
input{
	   width:100%;
	   padding:0.5rem 2rem;
	   margin-bottom:1rem;
}
input:focus{
	         outline:none;
			 outline-color:dee2e6;
}
textarea{
	       width:100%;
		   padding:0.5rem 2rem;
}
.btn6{
	  margin-top:1rem;
}
.btn5{
	   border:1px solid  #438BCA;
	   background-color: #438BCA;
	   text-decoration:none;
	   font-size:1rem;
	   margin:auto;
	   width:70%;
	   color:white;
	   Padding:0.8rem 2rem;
	   border-radius:5px;
	   display:flex;
	   justify-content:center;
}
@media(min-width:1024px){
	
.contact-head{
	            padding:2rem 0rem;
				color:#1f3548;
				font-weight:600;
				text-align:center;
				font-size:2.5rem;
}
.flex-contact{
	           display:flex;
}
.large{
	    width:50%;
}
.medium{
	      width:25%;
}
.container-12{
	           width:80%;
			   margin:auto;
}
.contact-1{
	        text-align:center;
			margin:1rem;
			padding:1rem;
			box-shadow:2px 2px 15px #ccc;
}
.contact-1 h3{
	           color:#444;
			  font-weight:600;
			  padding:1rem 0rem;
			  font-size:1.5rem;
}
.contact-1 p{
	         line-height:1rem;
			 font-size:1.1rem;
			 padding-bottom:1rem;
}
.contact-1 iconify-icon{
	                    height:70px;
						 width:70px;
	                     color:#438BCA;
						 border-radius:50%;
						 padding:1.5rem 0rem;
						 font-size:2.5rem;
						 border:3px dotted #438BCA;
						 display:flex;
						 margin:auto;
						 justify-content:center;
						 align-items:center;
}
.form{
	  box-shadow:2px 2px 15px #ccc;
	  width:97%;
	  margin:auto;
	  padding:4rem 3rem;
}
.form-item input{
	              width:46%;
				  
}
.red{
	 margin-left:3rem;
}
.form-item{
	         margin-bottom:1rem;
}
input{
	   width:100%;
	   padding:1rem 2rem;
}
input:focus{
	         outline:none;
			 outline-color:dee2e6;
}
textarea{
	       width:100%;
		   margin-top:1rem;
		   padding:0.5rem 2rem;
}
.btn6{
	  margin-top:1rem;
}
.btn5{
	   border:1px solid  #438BCA;
	   background-color: #438BCA;
	   text-decoration:none;
	   font-size:1rem;
	   margin:auto;
	   width:30%;
	   color:white;
	   Padding:0.8rem 2rem;
	   border-radius:5px;
	   display:flex;
	   justify-content:center;
} 		
}
@media(min-width:1280px){
.form-item input{
	              width:47.5%;
				  
}
}
          /* contact section end */
		  /* footer section start */
		  
.footer{
	     background-color:#587187;
}
.container-13{
	          width:90%;
			  color:white;
}
.foot1{
       padding:3rem 2rem;
}
span{
	  font-weight:bold;
}
.foot1 h3{
	      font-size:2rem;
		  padding:1rem 0rem;
}
.foot1 p{
	     line-height:1.5rem;
}
.gap2{
	  padding-top:1.5rem;
}
.icon-7{
	    padding:1rem;
}
.icon-7 li{
	        display:inline-block;
			padding:0.5rem;
			border:1px solid #768fa6;
			background-color:#768fa6;
			border-radius:50%;
}
.icon-7 li iconify-icon{
	                    color:white;
}
.foot2{
	     padding-left:2rem;
}
.foot2 h4{
	      font-size:1.5rem;
}
.foot2 a{
	     text-decoration:none;
		 padding-left:0.2rem;
		 color:white;
}
.foot2 iconify-icon{
	                 color:skyblue;
}
.foot2 li{
	       padding-top:1rem;
}
.foot3{
	     padding-left:2rem;
		 padding-top:2rem;
}
.foot3 h4{
	      font-size:1.5rem;
}
.foot3 a{
	     text-decoration:none;
		 padding-left:0.2rem;
		 color:white;
}
.foot3 iconify-icon{
	                 color:skyblue;
}
.foot3 li{
	       padding-top:1rem;
}
.foot4{
	    padding-top:2rem;
		padding-left:2rem;
}
.foot4 h4{
	      font-size:1.5rem;
		  padding-bottom:1rem;
}
.foot4 p{
	      font-size:1rem;
		  padding-bottom:1rem;
}
.foot4 input{
	         position:relative;
			 width:50%;
}
.foot4 a{
	     border:1px solid skyblue;
		 text-decoration:none;
		 background-color:skyblue;
		 color:white;
		 position:absolute;
		 padding:0.5rem 1rem;
}
@media(min-width:768px){
	
.footer{
	     background-color:#587187;
		 padding:3rem 0rem;;
}
.container-13{
	          width:90%;
			  color:white;
}
.footer-flex1{
	          display:flex;
}
.footer-flex2{
	          display:flex;
}
.foot1{
       padding:3rem 2rem;
}
span{
	  font-weight:bold;
}
.foot1 h3{
	      font-size:2rem;
		  padding:1rem 0rem;
}
.foot1 p{
	     line-height:1.5rem;
}
.gap2{
	  padding-top:1.5rem;
}
.icon-7{
	    padding:1rem;
}
.icon-7 li{
	        display:inline-block;
			padding:0.5rem;
			border:1px solid #768fa6;
			background-color:#768fa6;
			border-radius:50%;
}
.icon-7 li iconify-icon{
	                    color:white;
}
.foot2{
	     padding-left:10rem;
		 padding-top:4.5rem;
}
.foot2 h4{
	      font-size:1.5rem;
}
.foot2 a{
	     text-decoration:none;
		 padding-left:0.2rem;
		 color:white;
}
.foot2 iconify-icon{
	                 color:skyblue;
}
.foot2 li{
	       padding-top:1rem;
}
.foot3{
	     padding-left:2rem;
		 width:50%;
		 padding-top:2rem;
}
.foot3 h4{
	      font-size:1.5rem;
}
.foot3 a{
	     text-decoration:none;
		 padding-left:0.2rem;
		 color:white;
}
.foot3 iconify-icon{
	                 color:skyblue;
}
.foot3 li{
	       padding-top:1rem;
}
.foot4{
	    padding-top:2rem;
		width:50%;
		padding-left:2rem;
}
.foot4 h4{
	      font-size:1.5rem;
		  padding-bottom:1rem;
}
.foot4 p{
	      font-size:1rem;
		  padding-bottom:1rem;
}
.foot4 input{
	         position:relative;
			 width:50%;
}
.foot4 a{
	     border:1px solid skyblue;
		 text-decoration:none;
		 background-color:skyblue;
		 color:white;
		 position:absolute;
		 padding:0.5rem 1rem;
}	
}
@media(min-width:1024px){

.footer-flex{
	         display:flex;
}
.footer{
	     background-color:#587187;
		 padding:2rem 0rem;;
}
.container-13{
	          width:90%;
			  color:white;
}
.foot1{
       padding:3rem 2rem;
}
span{
	  font-weight:bold;
}
.foot1 h3{
	      font-size:2rem;
		  padding:1rem 0rem;
}
.foot1 p{
	     line-height:1.5rem;
}
.gap2{
	  padding-top:1.5rem;
}
.icon-7{
	    padding:1rem;
}
.icon-7 li{
	        display:inline-block;
			padding:0.5rem;
			border:1px solid #768fa6;
			background-color:#768fa6;
			border-radius:50%;
}
.icon-7 li iconify-icon{
	                    color:white;
}
.foot2{
	     padding-left:10rem;
		 padding-top:4.5rem;
}
.foot2 h4{
	      font-size:1.5rem;
}
.foot2 a{
	     text-decoration:none;
		 padding-left:0.2rem;
		 color:white;
}
.foot2 iconify-icon{
	                 color:skyblue;
}
.foot2 li{
	       padding-top:1rem;
}
.foot3{
	     padding-left:5rem;
		 width:50%;
		 padding-top:4.5rem;
}
.foot3 h4{
	      font-size:1.5rem;
}
.foot3 a{
	     text-decoration:none;
		 padding-left:0.2rem;
		 color:white;
}
.foot3 iconify-icon{
	                 color:skyblue;
}
.foot3 li{
	       padding-top:1rem;
}
.foot4{
	    padding-top:4rem;
		width:50%;
		padding-left:2rem;
}
.foot4 h4{
	      font-size:1.5rem;
		  padding-bottom:1rem;
}
.foot4 p{
	      font-size:1rem;
		  padding-bottom:1rem;
}
.foot4 input{
	         position:relative;
			 width:80%;
}
.foot4 a{
	     border:1px solid skyblue;
		 text-decoration:none;
		 background-color:skyblue;
		 color:white;
		 position:absolute;
		 padding:1rem 2rem;
}	
}	
}
