*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family:sans-serif;
}
              /* head Section Start */
.flex-box{
	    display:flex;
}
.head{
	   padding:1rem 2rem;
}
.icon{
	   display:none;
}
.icon-1 a{
	       text-decoration:none;
		   margin-left:0.5rem;
		   font-size:1rem;
		   color:black;
}
.icon-1 iconify-icon{
	                  color:#428bca;
					  padding-left:0.5rem;
					  font-size:1rem;
}
@media(min-width:768px){
	
.flex-box{
	    display:flex;
}
.head{
	   padding:1rem 2rem;
}
.icon{
	   display:block;
	   margin-left:7rem;
	   margin-top:2rem;
}
.icon ul li{
	         display:inline-block;
			 padding-left:1.5rem;
}
.icon ul li a{
	           color:#5c768d;
}
.icon-1 a{
	       text-decoration:none;
		   margin-left:1rem;
		   font-size:1rem;
		   color:black;
}
.icon-1 iconify-icon{
	                  color:#428bca;
					  padding-left:1rem;
					  padding-top:0.5rem;
					  font-size:1.5rem;
}	
}
@media(min-width:1024px){
	
.flex-box{
	    display:flex;
}
.head{
	   padding:0.5rem 4rem;
}
.icon{
	   display:block;
	   margin-left:20rem;
	   margin-top:1.5rem;
}
.icon ul li{
	         display:inline-block;
			 padding-left:1.5rem;
}
.icon ul li a{
	           color:#5c768d;
}
.icon-1 a{
	       text-decoration:none;
		   margin-left:1rem;
		   font-size:1rem;
		   color:black;
}
.icon-1 iconify-icon{
	                  color:#428bca;
					  padding-left:1rem;
					  padding-top:0.5rem;
					  font-size:1.5rem;
}	
}
@media(min-width:1280px){
.icon{
	   display:block;
	   margin-left:44rem;
	   margin-top:1.5rem;
}
.icon ul li{
	         display:inline-block;
			 padding-left:1.5rem;
}
.icon ul li a{
	           color:#5c768d;
}
.icon-1 a{
	       text-decoration:none;
		   margin-left:1rem;
		   font-size:1.2rem;
		   color:black;
}
.icon-1 iconify-icon{
	                  color:#428bca;
					  padding-left:1rem;
					  padding-top:0.5rem;
					  font-size:1.5rem;
}
.icon iconify-icon{
	                font-size:1.2rem;
}
}
            /* Header Section Ends */
			/* Nav Section Starts */
.nav{
	  display:none;
}
.container-2{
	          display:flex;
			  padding:1rem 2rem;
}
.logo h3{
	      font-size:1.5rem;
		  font-weight:400;
		  color:#428BCA;
}
.mobile-view{
	          padding-left:13rem;
}
.mobile-view iconify-icon{
	                       font-size:1.5rem;
			  
}
@media(min-width:768px){
.nav{
	  display:none;
}
.container-2{
	          display:flex;
			  padding:1rem 2rem;
}
.logo h3{
	      font-size:2rem;
		  font-weight:500;
		  color:#428BCA;
}
.mobile-view{
	          padding-left:33rem;
}
.mobile-view iconify-icon{
	                       font-size:2rem;
			  
}
}
@media(min-width:1024px){
.nav{
	  display:block;
	  padding-left:23rem;
}
.nav ul li{
			display:inline-block;
			padding:0.5rem;
}
.nav ul li a{
	        text-decoration:none;
			color:gray;
}
.container-2{
	          display:flex;
			  padding:0.5rem 2rem;
			  
}
.logo{
	   padding-left:3rem;
}
.logo h3{
	      font-size:2rem;
		  color:#428BCA;
}
.mobile-view{
	          display:none;
}
}
@media(min-width:1280px){
.nav{
	  display:block;
	  padding-left:40rem;
}
.nav ul li{
			display:inline-block;
			padding:1rem;
}
.nav ul li a{
	        text-decoration:none;
			font-size:1.2rem;
			color:gray;
}
.container-2{
	          display:flex;
			  padding:0.5rem 2rem;
}
.logo h3{
	      font-size:2.5rem;
		  color:#428BCA;
}
.mobile-view{
	          display:none;
}
}
          /* Nav Section End */
           /* Main Content */
.background{
	        background-image:url("../img/slide/slide-1.jpg");
			width:100%;
			position:relative;
			background-size:cover;
			background-position:center center;
}
.background::after{
	               content:"";
				   position:absolute;
				   background-color:#000000;
				   opacity:0.7;
				   top:0;
				   bottom:0;
				   right:0;
				   left:0;
}
.content{
	          padding:5rem 3rem;
			  z-index:1;
			  position:relative;
}
.content h1{
	         font-weight:800;
			 color:white;
			 font-size:2rem;
}
.content p{
			 color:white;
			 padding-top:2rem;
			 line-height:1.5rem;
			 font-size:1rem;
}
.content a{
	        text-decoration:none;
			border:1px solid #007aff;
			border-radius:5px;
			padding:0.5rem 1.5rem;
			color:white;
			background-color:#007aff;
}
.btn{
	  margin-top:2rem;
}
@media(min-width:768px){
.content{
	          padding:15rem 5rem;
			  z-index:1;
			  position:relative;
}
.content h1{
	         font-weight:800;
			 color:white;
			 font-size:3rem;
}
.content p{
			 color:white;
			 padding:2rem 5rem 0rem 0rem;
			 font-size:1.2rem;
}
.content a{
	        text-decoration:none;
			border:1px solid #007aff;
			border-radius:5px;
			padding:0.5rem 1.5rem;
			color:white;
			background-color:#007aff;
}
.btn{
	  margin-top:2rem;
}
}
@media(min-width:1024px){
.content{
	          padding:15rem 10rem;
			  z-index:1;
			  position:relative;
}	
.content h1{
	         font-weight:600;
			 color:white;
			 font-size:3.5rem;
}
.content p{
			 color:white;
			 padding:2rem 13rem 0rem 0rem;
			 line-height:1.6rem;
			 font-size:1.5rem;
}
.content a{
	        text-decoration:none;
			border:1px solid #007aff;
			font-size:1.2rem;
			border-radius:5px;
			padding:0.8rem 3rem;
			color:white;
			background-color:#007aff;
}
}
              /* Main Content End */

			  /* About Section Start */			  
.about{
	    padding-top:5rem;
}
.container-4{
	          width:90%;
			  margin:auto;
			  box-shadow:0px 0px 5px gray;
			  background-color:#FFFFFF;
}	
.flex-item{
	       display:flex;
		   padding-top:3rem;
}
.flex-item .item{
	             padding:0.5rem;
}
.item p{
	      padding-top:0.5rem;
		  font-size:1rem;
}
.image{
		padding-top:1rem;
		margin:1rem;
}	
.image img{
	        width:100%;
}	 
.about-side{
	        width:100%;
			padding:5rem 2rem;
} 
.about-head h2{
	            font-size:2rem;
				text-align:center;
				color:#5C768D;
}
.about-head p{
	          padding-top:1rem;
			  font-size:1.2rem;
			  color:gray;
			  line-height:1.5rem;
}
.item iconify-icon{
	                font-size:2rem;
					border:1px solid #f1f7fb;
					background-color:#f1f7fb;
					color:#007aff;
					padding:1rem;
}
.item h3{
	      font-size:1rem;
		  font-family:roboto;
		  font-weight:bold;
}
.item p{
	     font-size:1.2rem;
		 color:gray;
		 line-height:1.5rem;
}
.flex-item:hover iconify-icon{
	                           background-color:#428BCA;
							   color:#ffffff;
}
@media(min-width:768px){			  
.about{
	    padding-top:5rem;
}
.container-4{
	          width:90%;
			  margin:auto;
			  box-shadow:0px 0px 5px gray;
			  background-color:#FFFFFF;
}	
.flex-item{
	       display:flex;
		   padding-top:3rem;
}
.flex-item .item{
	             padding:0.5rem;
}
.item p{
	      padding-top:0.5rem;
		  font-size:1rem;
}
.image{
		padding-top:1rem;
		margin:1rem;
}	
.image img{
	        width:100%;
}	 
.about-side{
	        width:100%;
			padding:5rem 2rem;
} 
.about-head h2{
	            font-size:2rem;
				text-align:center;
				color:#5C768D;
}
.about-head p{
	          padding-top:1rem;
			  font-size:1.2rem;
			  color:gray;
			  line-height:1.5rem;
}
.item iconify-icon{
	                font-size:2rem;
					border:1px solid #f1f7fb;
					background-color:#f1f7fb;
					color:#007aff;
					padding:1rem;
}
.item h3{
	      font-size:1rem;
		  font-family:roboto;
		  font-weight:bold;
}
.item p{
	     font-size:1.2rem;
		 color:gray;
		 line-height:1.5rem;
}
.flex-item:hover iconify-icon{
	                           background-color:#428BCA;
							   color:#ffffff;
}
}			  
@media(min-width:1024px){			  
.about{
	    padding-top:5rem;
}
.container-4{
	          width:90%;
			  display:flex;
			  margin:auto;
			  box-shadow:0px 0px 5px gray;
			  background-color:#FFFFFF;
}	
.flex-item{
	       display:flex;
		   padding-top:3rem;
}
.flex-item .item{
	             padding:0.5rem;
}
.item p{
	      padding-top:0.5rem;
		  font-size:1rem;
}
.image{
	    width:100%;
		padding-top:1rem;
		margin:1rem;
}	
.image img{
	        width:100%;
}	 
.about-side{
	        width:80%;
			padding:5rem 2rem;
} 
.about-head h2{
	            font-size:2rem;
				text-align:center;
				color:#5C768D;
}
.about-head p{
	          padding-top:1rem;
			  font-size:1rem;
			  color:gray;
			  line-height:1rem;
}
.item iconify-icon{
	                font-size:2rem;
					border:1px solid #f1f7fb;
					background-color:#f1f7fb;
					color:#007aff;
					padding:1rem;
}
.item h3{
	      font-size:1rem;
		  font-family:roboto;
		  font-weight:bold;
}
.item p{
	     font-size:1rem;
}
.flex-item:hover iconify-icon{
	                           background-color:#428BCA;
							   color:#ffffff;
}
}			  
@media(min-width:1280px){			  
.about{
	    padding-top:5rem;
}
.container-4{
	          width:80%;
			  display:flex;
			  margin:auto;
			  box-shadow:0px 0px 5px gray;
			  background-color:#FFFFFF;
}	
.flex-item{
	       display:flex;
		   padding-top:3rem;
}
.flex-item .item{
	             padding:0.5rem;
}
.item p{
	      padding-top:0.5rem;
		  font-size:1rem;
}
.image{
	    width:100%;
		padding-top:1rem;
		margin:1rem;
}	
.image img{
	        width:100%;
}	 
.about-side{
	        width:90%;
			padding:6rem 2rem;
} 
.about-head h2{
	            font-size:2.5rem;
				text-align:center;
				color:#5C768D;
}
.about-head p{
	          padding-top:1rem;
			  font-size:1.3rem;
			  color:gray;
			  line-height:1.5rem;
}
.item iconify-icon{
	                font-size:2rem;
					border:1px solid #f1f7fb;
					background-color:#f1f7fb;
					color:#007aff;
					padding:1.2rem;
}
.item h3{
	      font-size:1.3rem;
		  font-family:roboto;
		  font-weight:bold;
}
.item p{
	     font-size:1.1rem;
}
.flex-item:hover iconify-icon{
	                           background-color:#428BCA;
							   color:#ffffff;
}
}
               /* About Section End */	
              /* Flex Wrap Section Start */

.container-5{
	         width:90%;
			 padding-top:3rem;
}
.wrap-item h5{
	          font-size:1.5rem;
			  padding-bottom:1rem;
			  font-weight:400;
			  color:skyblue;
			  
}
.wrap-item h2{
	          font-size:1.7rem;
			  padding-bottom:1rem;
}
.wrap-item p{
	          font-size:1.1rem;
			  color:gray;
}
.wrap-item{
	        padding:2rem;
			position:relative;
}
.wrap-item::after{
	               content:"";
				   position:absolute;
				   background-color:d9e8f4;
				   border-bottom:1px solid d9e8f4;
				   border-left:1px solid d9e8f4;
				   width:90%;
				   height:1px;
				   display:flex;
				   top:1rem;
				   justify-content:center;
}
@media(min-width:768px){
.container-5{
	         width:95%;
			 padding-top:3rem;
}
.flexwrap-container{
	                 display:flex;
					 flex-wrap:wrap;
}
.wrap-item h5{
	          font-size:2rem;
			  padding-bottom:1rem;
			  font-weight:400;
			  color:skyblue;
			  
}
.wrap-item h2{
	          font-size:2rem;
			  padding-bottom:1rem;
}
.wrap-item p{
	          font-size:1.2rem;
			  color:gray;
}
.wrap-item{
	        padding:2rem;
			width:50%;
			position:relative;
}
.wrap-item::after{
	               content:"";
				   position:absolute;
				   background-color:d9e8f4;
				   border-bottom:1px solid d9e8f4;
				   border-right:1px solid d9e8f4;
				   width:90%;
				   height:1px;
				   top:1rem;
	
}	
}
@media(min-width:1024px){
.container-5{
	         width:95%;
			 padding-top:5rem;
}
.flexwrap-container{
	                 display:flex;
					 flex-wrap:wrap;
}
.wrap-item h5{
	          font-size:2rem;
			  padding-bottom:2rem;
			  font-weight:400;
			  color:skyblue;
			  
}
.wrap-item h2{
	          font-size:2rem;
			  padding-bottom:2rem;
}
.wrap-item p{
	          font-size:1.2rem;
			  color:gray;
}
.wrap-item{
	        padding:4rem;
			width:33.33%;
			position:relative;
}
.wrap-item::after{
	               content:"";
				   position:absolute;
				   background-color:d9e8f4;
				   border-bottom:1px solid d9e8f4;
				   border-right:1px solid d9e8f4;
				   width:90%;
				   height:1px;
				   top:1rem;
	
}	
}
               /* Flexwrap Section Ends */
			   /* Project Section Start */
.project-bg{
	         background-color:#f5f9fc;
}	
.container-6{
	         padding:2rem;
}		   