*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
.container{
	       padding:5rem 10rem;
}
.head{
	   text-align:center;
	   padding-bottom:3rem;
}
.head h2::after{
	            content:"";
				width:5%;
				height:4px;
				display:flex;
				background-color:orange;
				justify-content:center;
				margin:auto;
				top:4px;
				position:relative;
}
.head p{
	     padding-top:2rem;
}
section{
	    background-color:white;
		color:#000000;
}
.flex{
	   display:flex;
	   padding:1rem 0rem;
	   border-bottom:1px solid gray;
	   justify-content:center;
}
.flex .item2{
	       width:50%;
		   margin-left:2rem;
}
.flex .item{
	          width:50%;
	        display:flex;
}
.flex .item div{
	            padding-left:0.5rem;
}
.flex-logo{
	        display:flex;
			padding:2rem 10rem;
			flex-wrap:wrap;
}
.flex-logo img{
	            width:100%;
				filter:grayscale(100%);
}
.flex-logo div {
	             border:1px solid gray;
				 padding:2rem 5rem;
				 width:25%;
}
iconify-icon{
	          color:blue;
