*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
section{
	     background-color:#ccc;
}
.container{
	        padding:5rem 10rem;
}
.head{
	  text-align:center;
}
.head h2::after{
	            content:"";
				position:relative;
				display:flex;
				justify-content:center;
				width:5%;
				height:4px;
				background-color:gray;
				margin:auto;
				top:0.5rem;
}
.head p{
	    padding-top:2rem;
}
.contact-flex{
	          padding-top:2rem;
			  display:flex;
}
.add-flex{
	       display:flex;
		   margin-top:2rem;
		   text-align:center;
}
.address{
		  padding:2rem 6rem;
		  background-color:white;
		  text-align:center;
}
.add2{
	  margin-right:1rem;
	   padding:1rem 2.5rem;
	  background-color:white;
}
.add3{
	  margin-left:1rem;
	  padding:1rem 2.5rem;
	  background-color:white;
}
.form{
	   width:49%;
	   background-color:white;
	   padding:2rem;
	   margin-left:3rem;
}
.name1 input{
	          width:49.5%;
			  padding:0.5rem 2rem;
			  margin-bottom:1rem;
}
.name2 input{
	          width:100%;
			  margin-bottom:1rem;
			  padding:0.5rem 2rem;
}
textarea{
	      width:100%;
		  padding-left:2rem
}
.btn a{
		 border:1px solid blue;
		 text-decoration:none;
		 background-color:blue;
		 color:white;
		 border-radius:5px;
		 padding:0.5rem 2rem;
		 text-align:center;
}
.btn{
	 margin-top:1rem; 
	 display:flex;
     justify-content:center;	 
}
iconify-icon{
	         text-align:center;
			 color:blue;
			 padding-bottom:1rem;
			 font-size:2rem;
}
.con h3{
	     padding-bottom:1rem;
}
.con p{
	     padding-bottom:0.5rem;
}
