*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
section{
	     padding:5rem;
		 background-color:#ccc;
}
.container{
	        display:flex;
}
.content{
	         width:70%;
			 padding:2rem;
}
.image{
	    width:50%;
		padding:4rem 1rem;
}
.image img{
	       width:100%;
}
.head h2{
	      font-size:1.5rem;
		  color:darkblue;
}
.head p{
	    padding:2rem 0rem;
}
.head span{
	        font-weight:600;
			font-size:1.8rem;
}
.item-1{
	    background-color:white;
		margin-bottom:1rem;
		padding:0.5rem 5rem 0.5rem 0.5rem;
}
.item-1 h3{
	        color:skyblue;
}
.item-1 p{
	      font-size:0.9rem;
		  width:100%;
		  padding-top:1rem;
}
	                    
}